html {
    height: 100%;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: baseline;
    line-height: 1;
    overflow-x: hidden;
    

}

header {
    background-color: #ffffff;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 20px;
    height: 70px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: #1351d8;
    font-weight: 620;
    transition: color 0.3s ease;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #007BFF;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover {
    color: #007BFF;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    padding: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    flex: 1;
    gap: 10px;
}

.destaque .imagem-ranger {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 4px 6px 6px rgb(58, 67, 70);
}

.anuncio-produto {
    text-decoration: none;
    color: #1b357e;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin: 20px 20px 5px;
}

p a {
    text-decoration: none;
    color: #1351d8;
}

p a:hover {
    color: #007BFF;
    transition: all 0.2s ease;
}

footer {
    background-color: #1b357e;
    color: white;
    padding: 1.875rem;
    text-align: center;
    position: relative;
    width: 100%;

  

}

.footer-container {

    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    gap: 6px;
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.redes-sociais img {
    max-width: 50px;
    width: 100%;
    height: 40px;
    display: block;

}

.icones-rodape {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
}

.icones-rodape img:hover {
    transform: scale(1.1);

}

.logo-azul {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    height: 56px;
}

.copyright {

    font-size: 12px;
    color: #868686;
    margin: 0;
    width: 100%;
    margin-top: 20px;
    order: 3;
}


@media (max-width: 768px) {

    .container {
        /* flex-direction: column; */
        justify-content: center;
        gap: 20px;
          flex-wrap: wrap;
    
    }

    .logo {
        height: 50px;
    }

    nav ul {
        /* flex-direction: column; */
        align-items: center;
        gap: 15px;
        font-size: 16px;
    }

 main {
        flex-direction: column;
        gap: 20px;
    }

    .anuncio-produto {
        font-size: 16px;
    }

    .footer-container {
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;
        padding: 20px;
    }
    
    .logo-azul {
        margin-right: 20px;
        height: 50px;
    }

    .redes-sociais {
        margin-bottom: 0;  
    }

    .copyright {
        margin: 0 auto;
        font-size: 11px;
    }
} 



 
