html {
    height: 100%;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: baseline;
    line-height: 1;
    overflow-x: hidden;
    min-height: 100vh;

}

header {
    background-color: #ffffff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.container {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 20px;
    height: 80px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1351d8;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007BFF;
    transition: all 0.2s ease;
}

main {
    flex: 1;
    padding: 20px 0;
    text-align: center;
}

.video-destaque {
    position: relative;
    width: 80%;
    /*  max-width: 1200px; */
    height: 640px;
    margin: 0 auto;
    background-color: #fff;
    flex: 1;

}

.video-destaque iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 7px 7px rgb(58, 67, 70);
}

.anuncio-produto {
    text-decoration: none;
    color: #1b357e;
    font-size: 18px;
    line-height: 1.5;
    width: 76%;
    margin: 30px auto;
    margin-bottom: 10px;


}


.tabela-comparativa {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: left;
}

.modelo-item {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    margin: 20px 40px;
    overflow: visible;
    padding-bottom: 2px;
}

.modelo-item img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

}

.modelo-item img:hover {
    transform: scale(1.2);

}

.modelo-infos {
    display: flex;
    align-items: center;
    gap: 6.6px;
    margin: 17px 0 10px 0;

}

.modelo-infos input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 33px;
    height: 33px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #1351d8;
    background-color: white;
    transition: all 0.2s ease;
    position: relative;
    flex-shrink: 0;
    margin-left: 20px;


}

.modelo-infos input[type="checkbox"]:checked {
    background-color: #007BFF;
    border-color: #1351d8;
}

.modelo-infos input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modelo-infos h3 {
    font-size: 14.2px;
    color: #333;
    margin: 0;
    margin-top: 10px;

}

.modelo-infos p {
    font-size: 12px;
    color: #666;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 4px;

}

.icone-inf {
    position: absolute;
    bottom: 10px;
    right: 10px;

}

.icone-inf img {
    width: 24px;
    height: 24px;
    opacity: 0.8;
    transition: all 0.3s esse;
    cursor: pointer;
}

.icone-inf img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.btn-comparar {

    display: inline-block;
    background-color: #1351d8;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 600;
    padding: 12px 32px;
    margin: 8px auto 30px auto;
    margin-top: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-comparar:hover {
    background-color: #007BFF;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

footer {
    background-color: #1b357e;
    color: white;
    padding: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 10px;

}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.redes-sociais {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    gap: 10px;
    margin-bottom: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.redes-sociais img {
    max-width: 50px;
    width: 100%;
    height: 40px;
    display: block;
}

.icones-rodape {
    display: flex;
    margin-top: 2px;
    gap: 10px;
    transition: transform 0.3s esse;
}

.icones-rodape img:hover {
    transform: scale(1.1);

}

.logo-azul {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    height: 56px;
}

.copyright {

    font-size: 12px;
    color: #868686;
    margin: 0;
    width: 100%;
    margin-top: 20px;
    order: 3;

}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .logo {
        height: 50px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 16px;
    }

    .anuncio-produto {
        font-size: 18px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .copyright {
        margin-top: 10px;
    }
}
